
.filterCheckbox{
	grid-area: filterCheckBox;
	margin: 28px auto 40px;
	border-radius: 3px;
	box-sizing: border-box;
    display: flex;
    max-width: 1140px;
    align-items: flex-start;
	justify-content: center;
    gap: 12px;
}

.filterCheckbox__title{
	padding: 0;
	font-size: 12px;
	font-weight: 400;
	margin: 0;
    line-height: 18px;
    border: none;
    letter-spacing: 0px
}

.filterCheckbox__wrap{
	position: relative;
	cursor: pointer;
}

.filterCheckbox__input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 1;
}

.filterCheckbox__mark{
	display: inline-block;
	position: relative;
	border-radius: 20px;
	background: #848383;
	width: 36px;
	height: 14px;
}

.filterCheckbox__mark:before,
.filterCheckbox__mark:after{
	content: "";
	position: absolute;
	transition: all 0.5s ease;
}

.filterCheckbox__mark:before{
	top: 2px;
	left: 2px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
}

.filterCheckbox__input:checked ~ .filterCheckbox__mark{
	background: #3DDC84;
}

.filterCheckbox__input:checked ~ .filterCheckbox__mark:before{
	left: 24px;
}

@media screen and (max-width: 600px) {
    .filterCheckbox__title{
        letter-spacing: -0.6px;
    }    
	.filterCheckbox{
		margin: 48px 14px 40px;
	}
  }