.aboutProject{
    margin: 0 70px 110px;
    max-width: 1140px;
}

.aboutProject__texts{
    display: grid;
    grid-template-areas:                        
    "subtitleStages subtitleWeeks"            
    "textStages textWeeks";
    grid-template-columns: minmax(1fr, 550px) minmax(1fr, 550px);
    row-gap: 25px;
    column-gap: 22px;
}

.aboutProject__terms{
 display: grid;
 grid-template-areas: 
 "backendWeeks frontendWeeks frontendWeeks frontendWeeks frontendWeeks"
 "backend frontend frontend frontend frontend";
 grid-template-columns: repeat(5, 1fr);
}

.title{
    font-size: 22px;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 23px;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0 0 70px;
    letter-spacing: -1px;
}

.aboutProject__subtitleStages, .aboutProject__subtitleWeeks{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.8px;
    line-height: 24px;
}

.aboutProject__subtitleStages{
    grid-area: subtitleStages;
}

.aboutProject__subtitleWeeks{
    grid-area: subtitleWeeks;
}

.aboutProject__textStages, .aboutProject__textWeeks{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
}

.aboutProject__textStages{
    grid-area: textStages;
}

.aboutProject__textWeeks{
    grid-area: textWeeks;
}

.aboutProject__backendWeeks, .aboutProject__frontendWeeks{
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    margin: 110px 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutProject__backendWeeks{
    grid-area: backendWeeks;
    color: #000;
    background-color: #3DDC84;
}

.aboutProject__frontendWeeks{
    grid-area: frontendWeeks;
    color: #fff;
    background-color: #303030;
}

.aboutProject__backend, .aboutProject__frontend{
    margin: 16px 0 0;
    padding: 0;
    color: #8B8B8B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutProject__backend{
    grid-area: backend;
    letter-spacing: -1px;
}

.aboutProject__frontend{
    grid-area: frontend;
    letter-spacing: -1px;
}

@media screen and (min-width: 1281px) {
    .aboutProject{
      margin: 0 auto 110px;
      min-width: 1140px;
  }
}

@media screen and (max-width: 980px) {
.aboutProject{
    margin: 0 50px 90px;
      
    }
.aboutProject__texts{
    row-gap: 24px;
    column-gap: 30px;

  }
  .aboutProject__backendWeeks, .aboutProject__frontendWeeks{
    margin: 93px 0 0;
  }
  .aboutProject__textStages, .aboutProject__textWeeks{
    font-size: 12px;
    line-height: 18px;
  }
  
  .aboutProject__backend, .aboutProject__frontend {
    margin: 14px 0 0;
  }
}

@media screen and (max-width: 600px) {
    .aboutProject{
        margin: 0 18px 72px;
        max-width: 1140px;
    }
    .title{
        font-size: 18px;
        padding-bottom: 28px;
        margin: 0 0 62px;
        letter-spacing: -0.8px;
    }
    .aboutProject__texts{
        display: grid;
        grid-template-areas:                        
        "subtitleStages"            
        "textStages"
        "."
        "subtitleWeeks"            
        "textWeeks";
        row-gap: 16px;
        grid-template-rows: repeat(2, max-content) 27px repeat(2, max-content);
    }
    .aboutProject__subtitleStages, .aboutProject__subtitleWeeks{
        font-size: 18px;
        letter-spacing: -0.7px;
        line-height: 21px;
    }
    .aboutProject__textStages, .aboutProject__textWeeks{
        font-size: 11px;
        line-height: 16px;
    }
    .aboutProject__terms{
        grid-template-areas: 
        "backendWeeks frontendWeeks frontendWeeks"
        "backend frontend frontend";
        grid-template-columns: repeat(3, 1fr);
       }
   .aboutProject__backendWeeks, .aboutProject__frontendWeeks{
        font-size: 11px;
        height: 35px;
        margin: 60px 0 0;
      }
    .aboutProject__backend, .aboutProject__frontend{
        margin: 10px 0 0;
        font-size: 11px;
    }
  }