.wrapper-techs{
    max-width: 100%;
    background-color: #272727;
}

.techs{
    margin: 0 70px 0;
    max-width: 1140px;
    padding: 100px 0 100px;
    box-sizing: border-box;
}

.techs__title{
    font-size: 50px;
    font-weight: 400;
    margin: 90px auto 26px;
    text-align: center;
    letter-spacing: -2px;
}

.techs__subtitle{
    max-width: 460px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 0 auto 100px;
    line-height: 20px;
    letter-spacing: -0.6px;
}

.techs__stacks{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.techs__stack{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 90px;
    min-height: 60px;
    background-color: #303030;
    border-radius: 10%;
    letter-spacing: -1px;
}

@media screen and (min-width: 1281px) {
    .techs{
      margin: 0 auto;
      min-width: 1140px;
  }
}

@media screen and (max-width: 980px) {
    .techs{
        margin: 0 50px;
        padding: 92px 0 90px;
      }
      .techs__title{
        margin: 80px auto 21px
      }
      .techs__stack{
        font-size: 12px;
        width: 84px;
        min-height: 57px;
    }
    .techs__subtitle{
        font-size: 12px;
        margin: 0 auto 83px;
        line-height: 18px;
        letter-spacing: -0.4px;
    }
}

@media screen and (max-width: 600px) {
    .techs{
        margin: 0 18px;
        padding: 70px 0 70px;
    }
    .title_tech{
        border-bottom: 1px solid #000;
    }
    .techs__title{
        font-size: 30px;
        margin: 60px auto 24px;
        letter-spacing: -1px;
    }
    .techs__subtitle{
        max-width: 274px;
        font-size: 11px;
        font-weight: 400;
        margin: 0 auto 50px;
        line-height: 16px;
        letter-spacing: -0.4px;
    }
    .techs__stacks{
        display: grid;
        grid-template-columns: repeat(2, 84px);
        justify-content: center;
        gap: 10px;
    }
    .techs__stack{
        font-size: 12px;
        width: 84px;
        min-height: 57px;
        letter-spacing: -0.4px;
    }
  }
